@import '../components/bootstrap/dist/css/bootstrap.min.css';
@import '../components/font-awesome/css/font-awesome.min.css';
@import '../components/rdash-ui/dist/css/rdash.min.css';
@import './utilities.less';

// Overrides or Enhancements
img {
	width: 100%;
  max-width: 100%;
}

hr {
  border-color: #ccc;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.sidebar .sidebar-list a.active {
  color: #fff;
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}

.UserGravatar--small {
  width: 28px;
  height: 28px;
}

.UserGravatar--large {
  border: 1px solid #ccc;
  .u-borderRadius;
}

.WidgetsDetail-content {
	padding-top: 60px;
}

.UserRepos,
.Tweets {
  padding-bottom: 2em;
}

.Tweets {
	padding-top: 2em;
}

.Tweets-avatar {
	width: 32px;
	height: 32px;
	margin-right: 0.8em;
	float: left;
	.u-borderRadius(50%);
}

.Tweets-profile {
	position: absolute;
}

.Tweets-content {
	padding-left: 3.25em;
}

.UserRepos-item,
.Tweets-listItem {
  background: #fff;
  padding: 0.75em 1em;
  margin-bottom: 1.5em;
  .u-boxShadow();
  .u-borderRadius(8px);
}

.UserRepos-statsCount {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding-top: 0.5em;
  width: 50%;
  display: inline-block;
}

.GithubAvatar {
  width: 25%;
  .u-borderRadius(50%);
}

.WidgetsList--fixed {
  overflow-y: scroll;
  max-height: 518px;
}

.WidgetsDetail-color {
	display: block;
	width: 28px;
	height: 28px;
	margin: 1em auto 0.6em;
	.u-borderRadius(50%);
}

.WidgetsDetail-color--noColor {
	border: 1px solid #ccc;
}

.WidgetsDetail-recommend {
	margin-top: 1em;
}

.WidgetsDetail-listItem {
	display: block;
	margin: 2em 0;
}

.WidgetsDetail-label {
	font-size: small;
	font-weight: 100;
	margin-top: 0.35em;
}

.WidgetsDetail-input {
	padding: 0.2em 0.4em;
}

.WidgetsDetail-checkbox {
	margin-top: 0.5em !important;
}

.WidgetsDetail-editMode {
	margin-top: 2.75em;
}

.WidgetsCreate-button {
	padding: 1em 2em;
	margin: 1em 0 1.75em;
}

.WidgetsCreate-form {
	.UserRepos-item;
	margin: 0 auto 1em;
}

.WidgetsCreate-listItem {
	margin-bottom: 1em;
}

.WidgetsCreate-label {
	display: block;
}

.WidgetsCreate-msg.error {
	color: #B80000 ;
}

.Search {
	position: relative;
}

.Search-reset {
	position: absolute;
	right: 1em;
	top: 0;
	cursor: pointer;
	color: #666;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	&:hover {
		color: #428bca;
	}
}

.Search-reset.active {
	opacity: 1;
	visibility: visible;
}

// Show them scrollbars
div.WidgetsList::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

div.WidgetsList::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

// Animations
.pulse {
	animation-name: pulse;
	-webkit-animation-name:pulse;
	animation-duration:1.5s;
	-webkit-animation-duration:1.5s;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite
}

@keyframes pulse{0%{transform:scale(.9);opacity:.7} 50%{transform:scale(1);opacity:1} 100%{transform:scale(.9);opacity:.7}}@-webkit-keyframes pulse{0%{-webkit-transform:scale(.95);opacity:.7} 50%{-webkit-transform:scale(1);opacity:1} 100%{-webkit-transform:scale(.95);opacity:.7}}
