@import '../components/bootstrap/dist/css/bootstrap.min.css';
@import '../components/font-awesome/css/font-awesome.min.css';
@import '../components/rdash-ui/dist/css/rdash.min.css';

// Overrides or Enhancements
ul.sidebar .sidebar-list a.active {
  color: #fff;
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}
